<div class="container">
  <div class="col-sm-2" ng-repeat="cat in tree">
  <h4>
    <a ng-click="$close()" ng-href="category/{{cat.id}}">{{cat.title}}</a> </h4>
  <ul class="list-group" style="border-style:none;">
    <li  class="list-group-item" ng-repeat="child in cat.children">
       <a ng-click="$close()" ng-href="category/{{child.id}}">{{child.title}}</a>

      <ul >
        <li  ng-repeat="grandchild in child.children">{{grandchild.title}} </li>
      </ul>
    </li>
  </ul>

  <div>
</div>
